
.no-search-results-container {
  padding: 2em;
  text-align: center;

  h1 {
    font-size: 3em;
  }
}

.search-results-container {
  padding: 2em;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.search-results-item {
  display: block;
  position: relative;
  margin: 1em;
  width: 15em;

  &.unavailable {
    img, h1, h2, p, ul {
      opacity: 0.3;
    }
  }

  > b {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    text-transform: uppercase;
    text-align: center;
    background-color: grey;
    color: white;
    padding: 0.75em;
    font-size: 0.75em;
  }
  > img {
    height: 10em;
  }
  > h1 {
    margin-top: 1em;
    font-size: 1.5em;
  }
  > h2 {
    margin-top: 0.25em;
  }
  > p {
    margin-top: 1em;
    font-size: 0.75em;
    line-height: 1.15em;
  }
  > ul {
    margin-top: 1em;
    li {
      display: inline-block;
      background-color: grey;
      color: white;
      border-radius: 1em;
      font-size: 0.9em;
      padding: 0.2em 0.5em;
      margin: 0.09em;
    }
  }
}